---
layout: null
section-type: about
title: About
carousels:
  - images:
    - image: /img/crowd1.jpg
    - image: /img/crowd2.jpg
    - image: /img/crowd3.jpg
    - image: /img/crowd4.jpg
    - image: /img/crowd5.jpg
    - image: /img/crowd6.jpg
---
## About

<br>

David is a renowned magician and mentalist with over a decade of experience captivating global audiences with his unique blend of world-class sleight of hand and corporate expertise. Based in the heart of New York City, he's a sought-after act for event planners across the country.

<br>

In addition to his magical talents, David is currently employed at Goldman Sachs and brings a wealth of knowledge and experience from the corporate world. He holds a B.S. in Applied Economics and Management and Finance from Cornell University and is a published author of multiple peer-reviewed economics research papers that have even been cited by the Federal Reserve.

<br>

At Cornell, David founded and led the Cornell Magic Society and created two university-accredited courses on the "Art of Magic: From Technique to Performance" and the "History of Magic." His unique blend of business savvy and magical prowess has earned him a spotlight in The Economist and the Cornell Daily Sun.

<br>

Through David's original and witty performances, he brings a touch of magic to corporate events, galas, and private parties. His ability to seamlessly integrate magic into any event has earned him a reputation as one of the most versatile and sought-after magicians in the industry.

<br>

Whether he's performing for a room full of executives or a casual gathering of friends, David's engaging and interactive performances are sure to leave a lasting impression on guests. With his professionalism, attention to detail, and captivating personality, he'll make your event an unforgettable experience.

<br>
<hr>
<br>

## Image Gallery

<br>

{% include carousel.html height="50" unit="%" duration="7" number="1" %}

<br>
<hr>
<br>

## Select Corporate Clientele

<br>

{% include image-gallery.html folder="/img/logos" %}

<br>
<hr>
<br>

## Testimonials

<br>

"Working with David couldn't have been easier, and I recommend him to anyone looking for an awesome entertainment experience regardless of age. His arsenal of tricks is original, witty, and a showstopper, and I know David will only be adding more and can't wait to see all the success he achieves. You'll have an easy, friendly, and attentive person to work with who will execute on anything you ask. Couldn't recommend David more."

- Ashton Kozlik, Founder & CEO, Maven Art House

<br>

"Thank you so much for making our party a success! It was wonderful to work with you and definitely hope to do so again in the future!"

- Amy Rodgers, Analyst, Citadel

<br>

"David entertained and amazed [the executives at our corporate event]. He performed terrific sleight of hand right before our eyes!"

- Kyle Vowinkel, Former Special Agent, FBI

<br>

"David is absolutely fantastic! David walked around performing for my guests at my husband's 40th in NYC and everyone was raving about him. His personality, presence, and magic [were] truly captivating! I would definitely recommend David and am looking forward to working with him again in the future. ⭐️⭐️⭐️⭐️⭐️"

- MISSING SOURCE